/* MAIN LAYOUT */
.seeker-container {
  display: flex;
  height: 100vh;
  background: #f4fff6;
  font-family: "Segoe UI", sans-serif;
}

/* SIDEBAR */
.sidebar {
  width: 250px;
  background: white;
  padding: 20px;
  border-right: 2px solid #e0e0e0;
}

.side-btn {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  background: #e8e8e8;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
}

.side-btn.active {
  background: #ff4d4d;
  color: white;
}

.side-btn:hover {
  background: #ffd1d1;
}

/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
  padding: 40px;
}

.title {
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: bold;
}

/* DONOR LIST */
.donor-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.donor-card {
  background: white;
  padding: 18px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* FILTER */
.filter-select {
  padding: 10px;
  width: 200px;
  margin-bottom: 20px;
  border-radius: 8px;
}

/* REQUEST FORM */
.request-box {
  width: 500px;
}

.request-form input,
.request-form select {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background: #ff4d4d;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.submit-btn:hover {
  background: #ff1f1f;
}

.message {
  margin-top: 10px;
  font-weight: bold;
}
